
@model List<ARB_ASPNET.Models.Data>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aboutUs</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
</head>
<body>
    <ul>
        <li>Website</li>
        <li>
            <a href="~/Home/Index">Home</a>
        </li>
        <li>
            <a href="~/Home/AboutUs">About us</a>
        </li>
    </ul>
    <div>
        @foreach (var item in Model)
        {
            @item.name <strong>@item.description</strong>
        }
    </div>
</body>
</html>
