
@model List<ARB_ASPNET.Models.Data>

@section Doan3{

    <div>
        <ul>
            <li>Website</li>
            <li>
                <a href="~/Home/Index">Home</a>
            </li>
            <li>
                <a href="~/Home/AboutUs">About us</a>
            </li>
        </ul>
        <div>
            @foreach (var item in Model)
            {
                @item.name <strong>@item.description</strong>
            }
        </div>
    </div>
}