
@model ARB_ASPNET.Models.Data

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FormNhanObject</title>
</head>
<body>
    <div>
        <strong>@Model.name</strong>:<span>@Model.description</span>
    </div>
</body>
</html>
